# Ignored folders
.idea/
Store_data/
report_creation/
__pycache__/
 *.pyc
.conda/
report_creation/.conda
.vscode/
.config/
.cache/
.dotnet/
.local/
.pki/
WILL_BE_MOUNTED_FROM_OUTSIDE
.profile
.bash*
workspace/
/.python_history
.catkin_tools/