
body
{
    background-color:rgb(60,60,60);
    color: rgb(183,181,182);
    font-family: : verdana,serif;
}


h1
{
    font-size: 2.5em;
    color: rgb(21,137,131);
    font-family: : verdana,serif;
    
}
